<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.bde_eseo.eseomega">

    <!-- Include following permission for Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Include following permission if you want to cache images on SD card + read profile picture -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Vibration for games -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- GCM permission -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/DefaultTheme"
        android:versionCode="@string/app_version_code"
        android:versionName="@string/app_version_name">

        <!-- Splash screen -->
        <activity
            android:name="fr.bde_eseo.eseomega.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.bde_eseo.eseomega.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.lacommande.IngredientsChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.lacommande.SecoElementChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.lacommande.ElementChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.TutorialActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSingle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.events.tickets.TicketHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_tickets"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRedSingle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.events.tickets.PresalesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_sales"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRedSingle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.events.tickets.ShuttleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_shuttles"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRedSingle"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- Activity to see / pay an order (or anything else ... Bluemoon ?) -->
        <!-- Intent scheme : eseomega_pay:// -->
        <activity
            android:name="fr.bde_eseo.eseomega.lydia.LydiaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLydia"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>

                <!-- <action android:name="fr.bde_eseomega.eseomega.LYDIA_CAFET" /> -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="eseomega" />
            </intent-filter>

            <!--
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="217.199.187.59/francoisle.fr/lacommande/experimental/app.php" />
                <data android:scheme="http" />
                <data android:pathPattern="/app/pay" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="fr.bde_eseo.eseomega.news.NewsViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.ingenews.IngeListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.lacommande.OrderDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.news.ImageViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.clubs.ClubViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="fr.bde_eseo.eseomega.rooms.BigPictureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- GCM Services & Activities -->
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name="fr.bde_eseo.eseomega.gcmpush.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="fr.bde_eseo.eseomega.gcmpush.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="fr.bde_eseo.eseomega.gcmpush.RegistrationIntentService"
            android:exported="false" />

        <!-- Boot receiver -->
        <!-- We don't need to register to boot because GCM do it by itself :D -->
        <!--
        <receiver android:name="fr.bde_eseo.eseomega.gcmpush.BootReceiver"
                  android:enabled="true"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="fr.bde_eseo.eseomega.family.FamilyTreeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_family"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>